@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Student" asp-action="Index" class="btn btn-primary">Student</a>
    <br />
    <br />
    <a asp-controller="Subject" asp-action="Index" class="btn btn-primary">Subject</a>
    <br />
    <br />
    <a asp-controller="Marks" asp-action="Index" class="btn btn-primary">Marks</a>
</div>
