@model StudentManagement.Models.Subject

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Delete Subject</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<dl>
				
				<dt>Id</dt>
				<dd>@Model.Id</dd>

				<dt>Subject</dt>
				<dd>@Model.SubjectName</dd>

			</dl>
			<form asp-action="DeleteSubject" asp-controller="Subject" method="post">
				<input type="submit" value="Delete" class="btn btn-danger" />
				<a asp-action="Index" asp-controller="Subject" class="btn btn-secondary">Back To Subject List</a>
			</form>
		</div>
	</div>
</div>