@model IEnumerable<StudentManagement.Models.Subject>

<a asp-action="AddSubject" asp-controller="Subject" class="btn btn-primary">Add Subject</a>
<br />
<br />

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Subjects</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th class="text-center">Edit</th>
							<th class="text-center">Delete</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.SubjectName</td>
								<td class="text-center">
									<a asp-action="EditSubject" asp-controller="Subject" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
								</td>
								<td class="text-center">
									<a asp-action="DeleteSubject" asp-controller="Subject" asp-route-id="@item.Id" class="btn btn-danger ">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>